<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="initial-scale = 1.0" />
    <%= stylesheet_link_tag "mobile" %>
    <title><%= @page_title %></title>
  </head>
  <body>
    <% if !(@new_mobile || @edit_mobile)
      if !@prefs.nil? %>
        <h1><span class="count"><%= @down_count %></span> <%= 
        user_time.strftime(@prefs.title_date_format) %></h1>
        <%= (link_to("Add new action", formatted_new_todo_path(:m))+" | ") unless @new_mobile -%>
        <%= (link_to("Home", formatted_todos_path(:m))+" | ") unless @home -%>
        <%= (link_to("Contexts", formatted_contexts_path(:m))+" | ") %>
        <%= (link_to("Projects", formatted_projects_path(:m))+" | ") %>
        <%= (link_to("Starred", {:action => "tag", :controller => "todos", :id => "starred.m"})) -%>
    <% end
  end %>
  <%= render_flash -%>
    <hr/>    
    <%= yield %>
    <hr/>
    <% if !@prefs.nil? %>
        <%= link_to "Logout", formatted_logout_path(:format => 'm') %> |
        <%= (link_to("Add new action", formatted_new_todo_path(:m))+" | ") unless @new_mobile -%>
        <%= (link_to("Home", formatted_todos_path(:m))+" | ") unless @home -%>
        <%= (link_to("Contexts", formatted_contexts_path(:m))+" | ") %>
        <%= (link_to("Projects", formatted_projects_path(:m))+" | ") %>
        <%= (link_to("Starred", {:action => "tag", :controller => "todos", :id => "starred.m"})+" | ") -%>
        <%= (link_to("Tickler", {:action => "index", :controller => "tickler.m"})+"| ") -%>
        <%= (link_to("Feeds", {:action => "index", :controller => "feeds.m"})) %>
    <% end %>
    <%= render :partial => "shared/mobile_footer" %>  
  </body>
</html>
