<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <% if @prefs["refresh"].to_i != 0 -%>
    <meta http-equiv="Refresh" content="<%= @prefs["refresh"].to_i*60 %>;url=<%= request.request_uri %>">
  <% end -%>
  <%= stylesheet_link_tag "standard" %>
  <%= stylesheet_link_tag "print", :media => "print" %>
  <%= javascript_include_tag "toggle_notes" %>
  <%= javascript_include_tag :defaults %>
  <%= javascript_include_tag "selector-addon-v1" %>
  <%= stylesheet_link_tag 'calendar-system.css' %>
  <%= javascript_include_tag 'calendar', 'calendar-en', 'calendar-setup' %>
  <%= javascript_include_tag "accesskey-hints" %>
  <%= javascript_include_tag "todo-items" %>
  <%= javascript_include_tag "lightbox" %>
  <%= stylesheet_link_tag "lightbox" %>
  
  <link rel="shortcut icon" href="<%= url_for(:controller => 'favicon.ico') %>" />
  <%= auto_discovery_link_tag(:rss,{:controller => "feed", :action => "na_feed", :name => "#{@user.login}", :token => "#{@user.word}"}, {:title => "RSS feed of next actions"})  %>

<title><%= @page_title %></title>

</head>
<body>
<div id="topbar">
<div id="date">
  <h1>
  <% if @count %>
    <span id="badge_count" class="badge"><%= @count %></span>
  <% end %>
  <%= Time.now.strftime("%A, %d %B %Y") %> <%= image_tag("spinner.gif", :size => "16X16", :border => 0, :id => 'busy', :style => 'display:none' ) %>
  </h1>
</div>
<div id="minilinks">
    <a href="javascript:toggleAll('notes')" accesskey="S" title="Toggle all notes">Toggle notes</a>&nbsp;|&nbsp;
    <% if @user.is_admin? -%>
      <%= link_to "Add users", :controller => "login", :action => "signup" %>&nbsp;|&nbsp;
    <% end -%>
    <%= link_to "Logout (#{@user.login}) »", :controller => "login", :action=>"logout"%>
</div>

<div id="navcontainer">
<ul id="navlist">
  <li><%= navigation_link("Home", {:controller => "todo", :action => "list"}, {:accesskey => "t", :title => "Home"} ) %></li>
  <li><%= navigation_link( "Contexts", {:controller => "context", :action => "list"}, {:accesskey=>"c", :title=>"Contexts"} ) %></li>
  <li><%= navigation_link( "Projects", {:controller => "project", :action => "list"}, {:accesskey=>"p", :title=>"Projects"} ) %></li>
  <li><%= navigation_link( "Tickler", {:controller => "todo", :action => "tickler"}, :title => "Ticker" ) %></li>
  <li><%= navigation_link( "Done", {:controller => "todo", :action => "completed"}, {:accesskey=>"d", :title=>"Completed"} ) %></li>
  <li><%= navigation_link( "Notes", {:controller => "note", :action => "index"}, {:accesskey => "o", :title => "Show all notes"} ) %></li>
  <li><%= navigation_link( "Preferences", {:controller => "user", :action => "preferences"}, {:accesskey => "u", :title => "Show my preferences"} ) %></li>
  <li><%= navigation_link(image_tag("feed-icon", :size => "16X16", :border => 0), {:controller => "todo", :action => "feeds"}, :title => "See a list of available feeds" ) %></li>
</ul>
</div>
</div>

<div id="content">
<div id="info"></div>
<% unless @controller_name == 'feed' or session['noexpiry'] == "on" -%>
<%= periodically_call_remote( :url => {:controller => "login", :action => "check_expiry"},
                              :frequency => (5*60)) %>
<% end -%>
<%= periodically_call_remote( :url => {:controller => "todo", :action => "check_tickler"},
                              :frequency => (10*60)) %>  
<%= @content_for_layout %>
</div>

<div id="footer">
  <p>Send feedback: <a href="http://dev.rousette.org.uk/report/6">Trac</a> | <a href="http://www.rousette.org.uk/projects/forums/">Forum</a> | <a href="http://www.rousette.org.uk/projects/wiki/index">Wiki</a> | <a href="mailto:butshesagirl@rousette.org.uk?subject=Tracks feedback">Email</a> | <a href="http://www.rousette.org.uk/projects/">Website</a></p>
</div>
</body>
</html>
