/*body {
	font-family:arial, helvetica, sans-serif;
}
*/
#overlay{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:80;   
    background-color:#000;
    -moz-opacity: 0.8;
    opacity:.80;
    filter: alpha(opacity=80);
    }
#overlay[id]{ /* IE6 and below Can't See This */
    position:fixed;
    }


.lightbox{
    width:350px;
    background:#eee;
    padding:10px;
    border:2px solid #666;
}

.lightbox h2 {
    background-color: #666;
    color: #fff !important;
    margin-left: -10px;
    margin-right: -5px;
    margin-top: -10px;
    padding: 5px;
}

#close{
    position:absolute;
    top:-5px;
    right:-5px;
    cursor:pointer;
}

