body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   12px;
  line-height: 18px;
  background: #eee;
}

a { color: #000; } 
a:visited { color: #666; }
a:hover { color: #fff; background-color: #000; }

h1, h2, h3 { color: #333; font-family: verdana, arial, helvetica, sans-serif; text-align: center; }
h1 { font-size: 28px }
h2 { font-size: 19px }
h3 { font-size: 16px }

li { margin-bottom: 7px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

#scaffold-main {
  width: 80%;
  margin: 10px auto;
  padding: 6px;
}

div.form {
  width: 40%;
  margin: 100px auto;
  padding: 10px;
  border: 1px solid #999;
  background: #ff9;
}

div.memo {
  width: 40%;
  margin: 100px auto;
  padding: 10px;
  border: 1px solid #999;
  background: #ff9;
}

.memo p {
  background: #ff9;
}
