/* Stylesheet for the main listing page */

body {
			font-family: "Lucida Grande", Verdana, Geneva, Arial, sans-serif;
      font-size: 12px;
      line-height: 19px;
			padding: 0px 10px;
			margin: 0px;
			background: #eee;
			}

p {
			padding: 2px;
			}
			

a, a:link, a:active, a:visited {
			color: #cc3334;
			text-decoration: none;
			}
			
a:hover {
			color: #fff;
			background-color: #cc3334;
			}
			
/* Structural divs */

#display_box {
			float: left;
			width: 450px;
			margin: 0px 15px 50px 15px;
			}

#display_box_projects {
			float: left;
			width: 820px;
			margin: 0px 15px 50px 15px;
			}

/* Navigation links at the top */

#navcontainer {
      margin: 15px;
      width: 820px;
      }
      			
#navlist {
			margin: 0;
			padding: 0 0 20px 10px;
			border-bottom: 1px solid #000;
			}

#navlist ul, #navlist li {
			margin: 0;
			padding: 0;
			display: inline;
			list-style-type: none;
			}

#navlist a:link, #navlist a:visited {
			float: left;
			line-height: 14px;
			font-weight: bold;
			margin: 0 10px 4px 10px;
			text-decoration: none;
			color: #999;
			}

#navlist a:link#current, #navlist a:visited#current, #navlist a:hover {
			border-bottom: 4px solid #000;
			padding-bottom: 2px;
			background: transparent;
			color: #000;
			}

#navlist a:hover { color: #000; }
		
.contexts {
			padding: 0px 5px 2px 5px;
			border: 1px solid #999;
			margin: 0px 0px 15px 0px;
			background: #fff;
			}
			
.contexts h2 {
			background: #CCC;
			padding: 5px;
			margin-top: 0px;
			margin-left: -5px;
			margin-right: -5px;
			color: #fff;
			text-shadow: rgba(0,0,0,.4) 0px 2px 5px;
			}
			
h2 a, h2 a:link, h2 a:active, h2 a:visited {
			color: #fff;
			text-decoration: none;
			}
			
h2 a:hover {
      color: #cc3334;
      background-color: transparent;
      text-decoration: none;
      }
			
#input_box {
      margin: 20px 50px 20px 490px;
			padding: 0px 15px 0px 15px;
			border: 1px solid #999;
			}
			
#input_box h2 {
			background: #CCC;
			padding: 5px;
			margin-top: 0px;
			margin-left: -15px;
			margin-right: -15px;
			color: #fff;
			text-shadow: rgba(0,0,0,.4) 0px 2px 5px;
			}

.box {
      float: left;
      width: 20px;
      }
      
.description {
      margin-left: 25px;
      margin-right: 10px;
      }
      
.tools {
      margin-left: 25px;
      width: 40px;
      border-top: 1px solid #999;
      }
            
#footer {
      width: 820px;
			clear: both;
			font-size: 0.8em;
			text-align: center;
			background: #CCC;
			border: 1px solid #999;
			margin: 0px 10px;
			padding: 5px;
			}
			
/* The notes which may be attached to an item */			
.notes {
      margin: 5px 20px;
			padding: 3px;
			border: 1px solid #F5ED59;
			background: #FAF6AE;
			color: #666666;
			}
			
.notes p, .notes li {
			padding: 1px 5px;
			margin: 0px;
			font-size: 12px;
			}
			
.notes ul {
			list-style-type: disc;
			margin-left: 5px;
}

.notes ol {
			list-style-type: decimal;
			margin-left: 5px;
}
			
/* The alert box notifications */
.confirmation {
      margin: 20px 50px 20px 490px;
			border: 1px solid #007E00; 
			background-color: #c2ffc2;
			padding: 5px;
			color: #007E00;
			text-align: center;
			}
		
.warning {
      margin: 20px 50px 20px 490px;
			border: 1px solid #ED2E38; 
			background-color: #F6979C;
			padding: 5px;
			color: #ED2E38;
			text-align: center;
			}
							
/* 	Draw attention to some text 
		Same format as traffic lights */
.red {
			color: #fff;
			background: #f00;
			padding: 1px;
			font-size: 10px;
			}
			
.amber {
			color: #fff;
			background: #ff6600;
			padding: 1px;
			font-size: 10px;
			}

.green {
			color: #fff;
			background: #33cc00;
			padding: 1px;
			font-size: 10px;
			}
			
.grey {
			color: #fff;
			background: #999;
			padding: 1px;
			font-size: 10px;
			}

/* Shows the number of undone next action */
.badge {
      color: #fff;
			background: #f00;
			padding: 5px;
			font-size: 16px;
			margin: 10px 10px 0px 0px;
}
				
ul    {
			list-style-type: none;
			margin-left: -25px;
			}
			
li    {
			font-size: 1.1em;
			padding: 3px 0px;
			}

td    {
      border: 1px solid #999;
      }
			
.even_row {
      background: #fff;
      }

.odd_row {
      background: #EDF3FE;
      }
      
.next_actions td {
    border: none;
    padding-top: 3px;
    padding-bottom: 3px;
}