<div id="display_box_projects">
  <% if @all_notes.empty? -%>
    <div class="message"><p><%= t('notes.no_notes_available') %></p></div>
  <% else -%>
    <%= render :partial => @all_notes %>
  <% end -%>
</div>