<h2 id="google-gadget-section">Add Tracks as a Google Gmail gadget</h2>
<p>
  You can now manage your projects/actions inside Gmail using Tracks Gmail Gadget.
  Add Tracks Gmail gadget to the sidebar of Gmail and track your next actions
  or add new action without explicitly open new browser tab for Tracks. Steps to set it up:
</p>
<ul>
  <li>Sign in to Gmail and click Settings in the top right of your Gmail page. In Gmail setting page, click Labs tab</li>
  <li>Enable the "Add any gadget by URL" feature. You will find it at bottom of the list. Select Enable radio button and click Save Changes button.</li>
  <li>Now you can see Gadgets tab added to Gmail Settings. Go to the Gadgets tab</li>
  <li>Paste following link to the Add a gadget by its URL: and then click Add button:<br/>
    <pre><%= integrations_google_gadget_url %></pre></li>
</ul>
