<h2 id="google-gadget-section">Voeg tracks toe als een Google Gmail gadget</h2>
<p>
  Je kan nu ook jouw projects/actions beheren in Gmail met de Tracks Gmail Gadget.
  Voeg Tracks Gmail gadget toe aan de sidebar van Gmail en volg jouw acties
  of voeg een nieuwe actie toe zonder apart een nieuw browser tab/scherm te openen
  voor Tracks. Om dit in te stellen:
</p>
<ul>
  <li>Log bij Gmail in en kies Settings in de rechter-bovenkant van jouw Gmail pagina. In de Gmail setting pagina, kies de Labs tab</li>
  <li>Zet de "Add any gadget by URL" feature aan. Deze kan je onderop de lijst vinden. Kies voor Enable and kies Save Changes.</li>
  <li>Nu zie je dat de Gadgets tab is toegevoegd aan de Gmail Settings. Ga nu naar de Gadgets tab</li>
  <li>Knip en plak de volgende link in de Add a gadget by its URL: en klik dan op de Add button:<br/>
    <pre><%= integrations_url + "/google_gadget" %></pre></li>
</ul>
