*~
*.tmproj
.dotest
/.emacs-project
config/database.yml
config/site.yml
config/deploy.rb
db/*.sqlite3
db/data.yml
db/schema.rb
log
nbproject
public/javascripts/cache
public/stylesheets/cache
tmp
vendor/plugins/query_trace/
