*.tmproj
*~
.dotest
.idea
.rvmrc
.sass-cache/
.yardoc
/.bundle
/.emacs-project
/.redcar
/bin
/coverage
/db/*.db
/db/*.sqlite3
/log/*.log
/public/assets/
/tmp
config/database.yml
config/deploy.rb
config/site.yml
db/data.yml
db/schema.rb
nbproject
rerun.txt
tags
vendor/plugins/query_trace/
