<div id="display_box_projects">
  <% for notes in @all_notes -%>
    <div class="container" id="note-<%= notes.id %>-wrapper">
      <%= render_partial "notes", notes %>
    </div>
  <% end -%>
</div>