<%= form_tag :action => 'update_action' %>
  <%= render :partial => 'mobile_edit', :locals => {:type => "new"} %>
<%= end_form_tag %>
<%= button_to "Back", :controller => 'mobile', :action => 'list' %>