body {
    font-family: Arial,Helvetica,sans-serif;
    font-size: smaller;
}

#content {
    margin-top: 50px;
}

div.footer {
    font-size: XX-small;
    color: #999999;
    text-align: center;
    }
    
a, a:link, a:active, a:visited {
    color: #CC3334;
    padding-left: 1px;
    padding-right: 1px;
    text-decoration: none;
}

a:hover {
    background-color: #CC3334;
    color: #FFFFFF;
}

div.footer a {        
    text-decoration: underline;
    color: #999999;
    }

h1 {
  color: #fff;
  font-size: small;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left:8px;
  margin-top:0;
  margin-bottom:0;
}

h2 {
  background-color: #aaaaaa;
  font-size : small;
  margin: .3em 0;
  padding: .3em 0 .1em .3em;
  border-top: 1px solid #777777;
}

h2 a, h2 a:link, h2 a:active, h2 a:visited {
    color: #666666;
    text-decoration: none;
}

h2 a:hover {
    background-color: transparent;
    color: #CC3334;
    text-decoration: none;
}

h4.alert  {
  border: 1px solid #666666; 
   text-align: center;
}

h4.warning  {
  border: 1px solid #ED2E38; 
  background-color: #F6979C;
  color: #000;
}
h4.error  {
   color:#fff; 
   background:#c00;
}
h4.notice {
  border: 1px solid #007E00; 
  background-color: #c2ffc2;
  color: #007E00;
}

span.tag {
  font-size: x-small;
  background-color: #CCE7FF;
  color: #000;
  padding: 1px;
  margin-right: 2px;
}

span.r {
    font-size: XX-small;
    color: #777777;
}

span.prj, span.ctx{
    font-size: X-small;    
}

#ctx, #pjr {
  margin: 0.5em 0;
}

#ctx a, #pjr a {
  padding: 0.1em 0;
}

/*   Draw attention to some text 
    Same format as traffic lights */
.red {
      color: #fff;
      background: #f00;
      padding: 1px;
      font-size: 1em;
}
      
.amber {
      color: #fff;
      background: #ff6600;
      padding: 1px;
      font-size: 1em;
}
         
.orange {
      color: #fff;
      background: #FFA500;
      padding: 1px;
      font-size: 1em;
}

.green {
      color: #fff;
      background: #33cc00;
      padding: 1px;
      font-size: 1em;
}
      
.grey {
      color: #fff;
      background: #999;
      padding: 1px;
      font-size: 1em;
}
      
.count {
      color: #fff;
      background: #f00;
      padding: 0.2em;
}

.errors {
      background: #FFC2C2;
}

ul.c li {
list-style-type: none;
}

ul.c {
  padding: 0;
  margin: 0;
  padding-left: 0.1em;
}

ul.c li {
  padding: 0; 
  margin: 0;
}

ul.c li span.r {
  display: none;
}

span.r {
  display:none;
}

#topbar {
    background-color: #000000;
    clear: both;
    color: #EEEEEE;
    height: 45px;
    left: 0;
    margin-bottom: 5px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 501;
}

.nav {
  color: #fff;
  background: #000;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

#topbar .nav {
  padding-left:8px;
  margin-bottom:0.3em;
}

.nav a, .nav a:link, .nav a:active, .nav a:visited {
    color: #fff;
    padding-top: 1.0em;
    padding-bottom: 0.5em;
}

.nav a:focus, .nav a:hover, .nav a:active {
    background: transparent;
    text-decoration: underline;
}

.nav li:hover, .nav a:focus, .nav a:hover, .nav a:active {
    color: #CCCCCC;
}

#database_auth_form table td {
  width:7em;
}

table.c {
      margin-left: 5px;
}
.mobile-done {
  display:inline;
}

input#todo_description, input#tag_list, textarea#todo_notes, select#todo_project_id, select#todo_context_id {
  width: 95%;
}
