<div id="display_box">
  
  <%= render :partial => "contexts/context", :collection => @contexts, 
            :locals => { :collapsible => true } %>

</div><!-- End of display_box -->

<div id="input_box">
  <%= render :partial => "shared/add_new_item_form" %>
  <%= render "sidebar/sidebar" %>
</div><!-- End of input box -->