<label for="user[password]"><%= t('users.new_password_label') %>:</label><br/>
<%= password_field "user", "password", :size => 40, :autocomplete => "off" %><br/>
<label for="user[password_confirmation]"><%= t('users.password_confirmation_label') %>:</label><br/>
<%= password_field "user", "password_confirmation", :size => 40, :autocomplete => "off" %><br/>
