<div title="No signups" id="signupform" class="form">
<h3>Benutzerregistrierung deaktiviert</h3>
<p>Dieser Server erlaubt keine freie Benutzerregistrierung.</p>
<p>Bitte wenden Sie sich <%= mail_to "#{@admin_email}", "via E-mail", :encode => "hex" %> an den Administrator, um ein Konto zu erhalten.</p>
</div>
