<div title="No signups" id="signupform" class="form">
<h3>No Signups</h3>
<p>You don't have permission to sign up for a new account.</p>
<p>Please contact the site administrator <%= mail_to "#{@admin_email}", "by email", :encode => "hex" %> to get permission.</p>
</div>
