<% flash.each do |key,value| -%>
  <div class='alert <%= key.to_s == 'notice' ? 'alert-success' : 'alert-danger' %> alert-dismissable'>
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <%= value %>
  </div>
<% end -%>
