<div class="footer"><p>Mobile Tracks <%= TRACKS_VERSION %>: <a href="http://groups.google.com/group/TracksApp"><%= t('common.mailing_list')%></a> | <a href="http://getontracks.org/"><%= t('common.website')%></a> | <a href="http://getontracks.org/development/"><%= t('common.contribute')%></a></p></div>
