<div id="display_box">
	<div id="feeds">
	<div id="feedlegend">
		<h3>Importing data</h3>
	  <p>You can choose between the following formats:</p>
	  <ul>
	    <li><strong>YAML: </strong>Best for porting data between Tracks installations</li>
	    <li><strong>CSV: </strong>Best for importing into spreadsheet or data analysis software</li>
	  </ul
	</div>
	
	<ul>
		<li>YAML</li>
		<li>CSV</li>
	</ul>
	
	</div><!-- End of feeds -->
</div><!-- End of display_box -->