<div id="display_box">
	<div id="feeds">
	<div id="feedlegend">
		<h3>Importing and exporting data into Tracks</h3>
	  <p>You can export your data in a number of different forms. Note: you can only export/import your own data (i.e. the data available when you are logged in).</p>
	</div>
	
			<ul>
			  <li>Import</li>
        <li>
          <%= link_to "Export", :controller => 'data', :action => 'export' %>
        </li>
			</ul>
	</div><!-- End of feeds -->
</div><!-- End of display_box -->