<%= hidden_field( "project", "id" ) %>
MUUUUUAAHAHAHAHAH!!!!
<label for="project_name">Project name</label><br />                                               
<%= text_field( "project", "name" ) %>
<br />
<br />