<div id="display_box">
  
  <%= render :partial => "items" %>

</div><!-- End of display_box -->

<div id="input_box">
  <%= render :partial => "shared/add_new_item_form", :locals => {:hide_link => false, :msg => ""} %>
  <%= render "shared/sidebar" %>
</div><!-- End of input box -->