<%
    @project = project_form
%>
<%= error_messages_for 'project' %>
<div class="position">
  <%= @project.position %>
</div>
<div class="data">
<label for="project_name">Name</label>
<%= text_field 'project', 'name', :class => 'project-name'  %>
<label for="project_done">Project done?</label>
<%= check_box 'project', 'done', :class => 'project-done' %>
</div>
<% @project = nil %>