<div id="display_box">
	<h2>Edit project</h2>
  <form action="<%= url_for(:controller => 'project', :action => 'update')  %>" method="post">
  <%= render_partial "edit_project", "@project" %>
  <input type="submit" value="Update" />
  </form>

  <%= link_to 'Cancel', :action => 'list' %>	 
</div>

<% if @flash["confirmation"] %><div class="confirmation"><%= @flash["confirmation"] %></div><% end %>
<% if @flash["warning"] %><div class="warning"><%= @flash["warning"] %></div><% end %>
