<%
    @context = context_form
%>
<%= error_messages_for 'context' %>
<div class="position">
  <%= @context.position %>
</div>
<div class="data">
<label for="context_name">Name</label>
<%= text_field 'context', 'name', :class => 'context-name'  %>
<label for="context_hide">Hidden?</label>
<%= check_box 'context', 'hide', :class => 'context-hide' %>
</div>
<% @context = nil %>