<%= hidden_field( "context", "id" ) %>
<label for="context_name">Context name</label><br />                                               
<%= text_field( "context", "name" ) %>
<br />
<label for="new_context_on_front">Hide from front page?</label>
<%= check_box( "context", "hide" ) %>
<br />
<br />