<div id="display_box">
  <div id="feeds">
    <div id="feedlegend">
      <p><b>Beware</b>: all your current data will be destroyed before importing
        the YAML file, so if you have access to the database, we strongly recommend
        backing up the database right now in case that anything goes wrong.
      </p>
      <p>Paste the contents of the YAML file you exported into the text box below:</p>
    </div>
    <p>
      <%= form_for :import, @import, :url => {:controller => 'data', :action => 'yaml_import'} do |f| %>
        <%= f.text_area :yaml %><br />
        <input type="submit" value="Import data">
      <% end %>
    </p>
  </div><!-- End of feeds -->
</div><!-- End of display_box -->
