<div id="display_box">
  <div id="feeds">
    <div id="feedlegend">
      <p><b>Vorsicht</b>: vor dem Import der YAML Datei werden alle Daten in Ihrer Datenbank gel&ouml;scht.
        Falls Sie entsprechenden Zugriff auf Ihre Datenbank haben, empfiehlt es sich, ein Backup anzulegen,
        bevor Sie fortfahren.
      </p>
      <p>F&uuml;gen Sie den Inhalt der kopierten YAML Datei in das untenstehende Formular ein:</p>
    </div>
    <p>
      <%= form_for :import, @import, :url => {:controller => 'data', :action => 'yaml_import'} do |f| %>
        <%= f.text_area :yaml %><br />
        <input type="submit" value="Daten importieren">
      <% end %>
    </p>
  </div><!-- End of feeds -->
</div><!-- End of display_box -->
