<h1>Help</h1>

<p>You can find information on the usage in the <a href="https://github.com/TracksApp/tracks/wiki/User-manual">User manual</a> in the project GitHub wiki.</p>

<p>If you encounter a bug or have a feature request, please report it in the <a href="https://github.com/TracksApp/tracks/issues">issue queue</a>.</p>

<p>We gladly welcome all contributions to Tracks. Check the <a href="https://www.getontracks.org/contribute/">project website</a> for further information. You can also come discuss with the community:</p>

<ul>
  <li><a href="http://groups.google.com/group/TracksApp">Mailing list</a></li>
  <li><a href="https://webchat.freenode.net/#Tracks">IRC channel #Tracks@FreeNode</li>
  <li><a href="https://matrix.to/#/#tracks:matrix.org">Matrix chat</a> (bridged to the IRC channel)</li>
</ul>
