<% 
	# Template Dependency: todos/container_items
	settings = todos_container_settings(settings)
	settings[:class] += " hide" if collection.empty? || settings[:show_container]
-%>
<div id="<%=settings[:id]%>" class="<%=settings[:class]%>">
    <%= todos_container_header(settings) %>
    <%= todos_container_items(collection, settings)  %>
</div>