<div class="row todo-sub-menu-template hide">
  <a class="btn btn-primary btn-mini"><i class="icon-pencil"></i> Edit</a>

  <div class="btn-group">
    <a class="btn btn-primary btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
      <i class="icon-calendar"></i> Defer <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a>1 day</a></li>
      <li><a>2 days</a></li>
      <li><a>3 days</a></li>
      <li><a>7 days</a></li>
    </ul>
  </div>

  <a class="btn btn-primary btn-mini"><i class="icon-magic"></i> Make Project</a>
  <a class="btn btn-danger  btn-mini"><i class="icon-trash"></i> Delete</a>
</div>
