<div id="display_box_projects">

<p><%= t('todos.completed_in_archive', :count => @done_archive.length) %></p>
<div class="container">
  <h2><%= t('todos.completed_more_than_x_days_ago', :count => 31) %></h2>
  <table class="next_actions" cellspacing="5" cellpadding="0" border="0">
    <%= render :partial => "done", :collection => @done_archive %>
  </table>
</div>

</div><!-- End of display_box -->
