<div id="display_box_projects">

  <%= show_completed_todos_for("today", @done_today) %>
  <%= show_completed_todos_for("rest_of_week", @done_rest_of_week) %>
  <%= show_completed_todos_for("rest_of_month", @done_rest_of_month) %>

  <p>
    <%= raw t('todos.see_all_completed',
      :link => link_to(t("todos.all_completed_here"), determine_all_done_path))
    %>
  </p>

</div>
