<%= form_tag todos_path(:format => 'm'), :method => :post do %>
  <%= render :partial => 'edit_form' %>
  <p class="text-right"><input type="submit" class="btn" value="<%= t('common.create') %>" accesskey="#" /></p>
<% end -%>
<%= link_to t('common.back'), @return_path %>

