<% form_tag formatted_todos_path(:m), :method => :post do %>
  <%= render :partial => 'edit_mobile' %>
  <p><input type="submit" value="Create" tabindex="12" accesskey="#" /></p>
<% end -%>
<%= link_to "Back", @return_path %>