body {
  background-color: rgba(0, 0, 0, 0.75);
}

.login-flash {
  @include make-xs-column(12);
  @include make-sm-column(6);
  @include make-sm-column-offset(3);
  padding: 10px;
}

.login-wrapper {
  @include make-row();
}

.login-box {
  @include make-xs-column(12);
  @include make-sm-column(6);
  @include make-sm-column-offset(3);
  margin: 2em auto 1em;
  background-color: rgba(0, 0, 0, 0.75);
  color: #eaeaea;
  padding: 0 0 1em 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5), 0 2px 3px rgba(0, 0, 0, 0.3);
}

@media(min-width: $screen-sm-min) {
  .login-box {
    border-radius: 5px;
  }
}

.icon-box {
  padding: 1em 0;
}

.login-form {
  @include make-xs-column(12);
  @include make-sm-column(8);
  @include make-sm-column-offset(2)
}

.label-element-combo {
  @extend .form-group;
}

.footer {
  @include make-xs-column(12);
  @include make-sm-column(6);
  @include make-sm-column-offset(3);
}
