body {
    font-family: Arial,Helvetica,sans-serif;
}

#content {
    margin-top: 4em;
}

div.footer {
    font-size: small;
    color: #999999;
    text-align: center;
}

a, a:link, a:active, a:visited {
    color: #CC3334;
    padding: 0.25em;
    text-decoration: none;
}

a:hover {
    background-color: #CC3334;
    color: #FFFFFF;
}

div.footer a {
    text-decoration: underline;
    color: #999999;
}

h1 {
    color: #fff;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-left:8px;
    margin-top:0;
    margin-bottom:0;
    font-size:medium;
}

h2 {
    background-color: #aaaaaa;
    margin: .3em 0;
    padding: .3em 0 .1em .3em;
    border-top: 1px solid #777777;
    font-size:medium;

    a, a:link, a:active, a:visited {
        color: #666666;
        text-decoration: none;
    }

    a:hover {
        background-color: transparent;
        color: #CC3334;
        text-decoration: none;
    }
}

h4.alert  {
    border: 1px solid #666666;
    text-align: center;
}

h4.warning  {
    border: 1px solid #ED2E38;
    background-color: #F6979C;
    color: #000;
}
h4.error  {
    color:#fff;
    background:#c00;
}
h4.notice {
    border: 1px solid #007E00;
    background-color: #c2ffc2;
    color: #007E00;
}

span.tag {
    font-size: small;
    background-color: #CCE7FF;
    color: #000;
    padding: 1px;
    margin-right: 2px;
}

span.r {
    font-size: small;
    color: #777777;
}

span.prj, span.ctx{
    font-size: small;
}

#ctx, #pjr {
    margin: 0.5em 0;
}

#ctx a, #pjr a {
    padding: 0.1em 0;
}

/*   Draw attention to some text
    Same format as traffic lights */
.red {
    color: #fff;
    background: #f00;
    padding: 1px;
    font-size: 1em;
}

.amber {
    color: #fff;
    background: #ff6600;
    padding: 1px;
    font-size: 1em;
}

.orange {
    color: #fff;
    background: #FFA500;
    padding: 1px;
    font-size: 1em;
}

.green {
    color: #fff;
    background: #33cc00;
    padding: 1px;
    font-size: 1em;
}

.grey {
    color: #fff;
    background: #999;
    padding: 1px;
    font-size: 1em;
}

.count {
    color: #fff;
    background: #f00;
    padding: 0.2em;
}

.errors {
    background: #FFC2C2;
}

.ctx-add {
    float: right;
}

ul.c li {
    list-style-type: none;
}

ul.c {
    padding: 0;
    margin: 0;
    padding-left: 0.1em;
}

ul.c li {
    padding: 0.25em 0;
    margin: 0;
}

ul.c li span.r {
    display: none;
}

span.r {
    display:none;
}

#topbar {
    background-color: #000000;
    clear: both;
    color: #EEEEEE;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 501;
}

.nav {
    color: #fff;
    background: #000;
    padding:0;
    overflow:auto;
    list-style:none;
    margin:0;

    a, a:link, a:active, a:visited {
        background: #666;
        color: #fff;
        padding: 0.5em;
    }

    a:focus, a:hover, a:active {
        background: transparent;
        text-decoration: underline;
    }

    li:hover, a:focus, a:hover, a:active {
        color: #CCCCCC;
    }

    li.link {
        width:20%;
        float:left;
        outline:black solid 1px;
    }
    .link a {
        font-size:small;
        text-align:center;
        display:block;
    }
}

#database_auth_form table td {
    width:7em;
}

table.c {
    margin-left: 5px;
}

.mobile-done {
    display:inline;
}

input#todo_description, input#tag_list, textarea#todo_notes, select#todo_project_id, select#todo_context_id {
    width: 100%;
    padding: 8px 8px;
    box-sizing: border-box;
}

select {
  font-size: 1.1em;
}

.next-prev-project {
    overflow:auto;
    padding:0;
    margin:0;
    list-style:none;
}

.prev,
.next {
    float:left;
    width:50%;
}

.next {
    float:right;
}

.prev a,
.next a {
    display:block;
    height:1em;
    overflow:hidden;
}

.prev a {
    background: image-url('previous.png') left center no-repeat;
    padding-left: 20px;

    &:hover {
        background: #cc3334 image-url('previous.png') left center no-repeat;
    }
}

.next a {
    text-align:right;
    background: image-url('next.png') right center no-repeat;
    padding-right: 20px;

    &:hover {
        background: #cc3334 image-url('next.png') right center no-repeat;
    }
}

div.note_wrapper p {
    display: inline;
}

.text-right {
    text-align: right;
}

.btn {
    padding: 8px;
    border-radius: 5px;
    background-image: none;
    display: inline-block;
    white-space: none;
    border: 1px solid transparent;
    background-color: #999999;
    color: #ffffff;
}
