.navbar {
  /* Shows the number of undone next action */
  .badge {
    color: #fff;
    background: #f00;
    display: inline;
    padding: 3px 5px;
    font-size: 12pt;
    height:26px;
    border-radius: 2px;
  }

  .fa {
    line-height: inherit;
  }
}

.footer {
  @include make-xs-column(12);
  @include make-sm-column(10);
  @include make-sm-column-offset(1);
  font-size: 85%;
  text-align: center;
  color: #999;
  margin: 20px 0 5px;
}

.footer-line {
  display: block;
}

form {
  border: 0px none;
  padding: 0;
}

@media screen and (min-width: 1170px) {
  .footer-line {
    display: inline;
  }
}
