/*
 * Tracks CSS
*/

body {
	background-color: #DDD;
}

div.tracks-middle {
	background-color: #FFF;
	padding: 15px;
	border-radius: 10px;
}

/* Header */

.navbar-inner {
	border-radius: none;
	div.btn-toolbar {
		margin: 0px 15px 0px 0px;
	}
	input {
		width: 100px;
	}
}

div#tracks-login-navbar {
	.navbar-inner {
		background-color: #000;
		background-image: none;
	}
}

div#tracks-login-form {
	margin: 0 0 100px 0;
}

span.badge_count {
	color: #FFF;
	background-color: #F00;
	text-shadow: none;
	padding: 5px 5px 5px 5px;
	border-radius: 2px 2px 2px 2px;
}

/* Footer */

footer {
	margin-top: 50px;
	text-align: center;
	background-color: #DDD;
}

/* Todo */
div.todo-item {
	margin-top: 7px;
	border: 3px solid #EEE;
	border-width: 0px 0px 1px 0px;
	padding: 0px 3px 0px 3px;
	min-height: none;
	line-height: none;

	[class*="span"] {
		min-height: 0px;
	}
	div.row {
		margin-left: 0px;
	}
	i.icon-check-empty {
		margin-right: 10px;
	}
	i.icon-check-sign {
		margin-right: 10px;
		color: #666;	
	}
	span.todo-description-icons {
		color: #BBB;	  /* light gray */
		cursor: pointer;
	}
	span.todo-item-icons {
		color: #BBB;	  /* light gray */
		display: block;
		margin-right: 5px;
		float:left;
		cursor: pointer;
		i.icon-check-empty {
			color: #333;
		}
		i.icon-star {
			color: #F89406; /* orange */
		}
	}
	span.todo-description {
		margin-right: 10px;
		cursor: pointer;
	}
	span.todo-item-description-container {
		display: inline-block;
		float:left;
	}
	div.todo-notes {
		background-color: #EEE;
		border-radius: 3px;
		padding: 10px;
		margin: 0px -3px 0px -3px;
	}
	div.todo-sub-menu {
		margin-top: 5px;
		padding-top: 5px;
		margin-bottom: 10px;
		border: 1px solid #EEE;
		border-width: 1px 0 0 0;
	}
	span.todo-item-detail {
		text-decoration: none;
		font-weight: normal;
		font-style: italic;
		color: #999;
	}
}

div.selected-item {
	border: 1.5px solid #AAA;
	border-radius: 4px;
	.row {
		font-weight: bold;
	}
	.todo-notes {
		font-weight: normal;
	}
}

span.tags {
	.label {
		margin-right: 1px;
		background-color: #BBB;
		a:hover, a:focus {
			text-decoration: none;
		}
		a {
			text-shadow: none;
			color: #FFF;
			font-weight: normal;
		}
	}
}

/* Container */

div.todos-container {
	margin-bottom: 25px;
	h4 {
		margin-bottom: 0px;
		color: #444;
		a {
			color: #444;
		}
		span.add-note-link {
			a {
				color: #BBB;
				font-size: 14px;
			}
		}
	}
}

/* Dialogs */

.modal-body {
	overflow-y: visible;
}

div#tracks-go-item-dialog {
	input.input-medium {
		width : 95%;
	}
}

div.paginate_header {
	text-align: center;
}

/* Generic */

div.hide_me {
	display: none;
}