.navbar {
  /* Shows the number of undone next action */
  .badge {
    color: #fff;
    background: #f00;
    display: inline;
    padding: 3px 5px;
    font-size: 12pt;
    height:26px;
    border-radius: 2px;
  }
}
