/*
 * Tracks CSS
*/

.navbar-inner {
	background-color: #000;
	background-image: none;
}

footer {
	text-align: center;
	background-color: #000;
	background-image: linear-gradient(to bottom, #FFFFFF, #F2F2F2);
}

div#tracks-login-form {
	margin: 0 0 100px 0;
}